/* src/styles.css */
.login-container {
    width: 300px;
    margin: 50px auto; /* Center the form with some margin at the top */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
    border: solid;
    background-color: gray;
}
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 8px;
    margin: 0;
    border-radius: 4px;
    border: 1px solid #ddd; /* Optional: Add border to inputs */
  }
  
  button {
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .error {
    color: red;
    margin-bottom: 15px;
  }
  
  .appointment-data {
    padding: 20px;
  }
  
  .appointments-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .appointments-table th,
  .appointments-table td {
    padding: 8px;
    text-align: left;
  }
  
  .appointments-table th {
    background-color: #4CAF50;
    color: white; /* Make the table header text white */
  }
  
  .loading {
    text-align: center;
    font-size: 20px;
  }
  